{
  "env": {
    "browser": true
  },
  "extends": ["standard"],
  "parser": "babel-eslint",
  "rules": {
    "camelcase": "warn",
    "default-case": "error",
    "max-depth": 3,
    "max-len": 75,
    "max-lines": 120,
    "max-params": 6,
    "no-alert": "error",
    "no-cond-assign": "error",
    "no-console": "error",
    "no-continue": "error",
    "no-debugger": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty-character-class": "warn",
    "no-empty-function": "warn",
    "no-empty": "warn",
    "no-eval": "error",
    "no-magic-numbers": "warn",
    "no-nested-ternary": "warn",
    "no-return-assign": "warn",
    "no-throw-literal": "warn",
    "no-unreachable": "error",
    "strict": "error",
    "vars-on-top": "warn"
  }
}
